.root {
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 14px;
}

/*鼠标覆盖按钮效果*/
.button {
    /*文本对齐方式*/
    -fx-text-alignment: center;
    /*合适高度*/
    -fx-min-height: 25px;
    /*-fx-pref-height: 25px;*/
    /*粗体*/
    /*-fx-font-weight: bold;*/
    /*内边距*/
    -fx-padding: 0 18px;
    /*无边框*/
    -fx-border-style: none;
    /*鼠标样式*/
    -fx-cursor: pointer;
    -fx-text-fill: white;
    -fx-background-color: rgba(198,47,47,1);
}

.button:hover {

    /*透明度*/
    -fx-opacity: 0.8;
    -fx-text-fill: rgba(198,47,47,1);
    -fx-background-color: #e6e6e6;
}

/*鼠标覆盖按钮效果*/
.button:pressed {
    /*粗体*/
    /*-fx-font-weight: bold;*/
    /*透明度*/
    -fx-opacity: 0.8;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: #e6e6e6;
}

.exit-btn-svg {
    -icon-paint: WHITE;
    -fx-background-color: -icon-paint;
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-content-display: graphic-only;
    -fx-shape: "M7.67 512.003C7.67 794.773 234.866 1024 515.126 1024c280.27 0 507.457-229.227 507.457-511.997S795.396 0 515.127 0C234.867 0 7.669 229.233 7.669 512.003z    M793.678 233.134c15.083 14.883 15.083 40.913 0 55.802L284.084 791c-15.109 14.853-41.532 14.853-56.636 0-15.083-14.878-15.083-40.919 0-55.802l509.59-502.063c15.108-14.858 41.537-14.858 56.64 0z    M236.585 240.824c14.659-14.409 40.295-14.409 54.954 0L785.994 727.66c14.628 14.434 14.628 39.682 0 54.11-14.66 14.403-40.295 14.403-54.96 0L236.586 294.934c-14.633-14.44-14.633-39.682 0-54.11z";
}

.exit-btn-svg:hover {
    -icon-paint: rgba(255, 99, 99, 0.36);
}

.min-btn-svg {
    -icon-paint: WHITE;
    -fx-background-color: -icon-paint;
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-content-display: graphic-only;
    -fx-shape: "M512 51.2c-254.464 0-460.8 206.336-460.8 460.8s206.336 460.8 460.8 460.8 460.8-206.336 460.8-460.8-206.336-460.8-460.8-460.8z m282.112 516.608H229.888V456.192h564.224v111.616z";
}

.min-btn-svg:hover {
    -icon-paint: rgba(255, 99, 99, 0.36);
}

/* see https://stackoverflow.com/questions/12299162/how-to-style-menu-button-and-menu-items*/
/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
* {
    -fx-my-menu-color: rgba(198,47,47,1); /* Change according to your needs */
    -fx-my-menu-color-highlighted: #FFFFFF; /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF; /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: rgba(198,47,47,1); /* Change according to your needs */
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.666667em 0.666667em 0.666667em 0.666667em; /*8 1 8 1*/
}

/* ================   ComboBOx    ===========================*/
* {
    -fx-my-combox-color: rgba(198,47,47,1);
    -fx-my-combox-color-highlighted: #FFFFFF;
    -fx-my-combox-font-color: #FFFFFF;
    -fx-my-combox-font-color-highlighted: rgba(198,47,47,1);
}


.combo-box {
    -fx-border-color: -fx-my-combox-color;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: -fx-my-combox-color;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-background-insets: 0;
    -fx-alignment: center;
    -fx-content-display: center;
}

.combo-box > .cell {
    -fx-background-color: -fx-my-combox-color;
    -fx-text-fill: -fx-my-combox-color-highlighted;
}

.combo-box:hover > .cell {
    -fx-background-color: -fx-my-combox-color-highlighted;
    -fx-text-fill: -fx-my-combox-font-color-highlighted;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: -fx-my-combox-color;
    -fx-text-fill: -fx-my-combox-font-color;
    -fx-text-alignment: LEFT;
}

/* 移除默认选中样式 */
/*.combo-box-popup .list-view .list-cell:filled:selected,*/
/*.combo-box-popup .list-view .list-cell:filled:selected:hover {*/
/*    -fx-background-color:#ffffff;*/
/*    -fx-text-fill: rgba(0, 0, 0, 0.98);*/
/*}*/

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-my-combox-color-highlighted;
    -fx-text-fill: -fx-my-combox-font-color-highlighted;
    -fx-background-radius: 10.0;
}

/*=========================   Radio   ===================================*/
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: rgba(198,47,47,1);
    -fx-background-color: white;
    -fx-border-radius: 15px;
}

.radio-button .radio:selected {
    -fx-background-color: rgba(198,47,47,1);
    -fx-border-color: #FFFFFF;
}

.radio-button .dot:selected {
    -fx-background-color: rgba(198,47,47,1);
    -fx-border-color: #FFFFFF;
}

/*!* ========================== TableView  ===================================*!*/
/*.table-row-cell:filled {*/
/*    -fx-background-color: lime;*/
/*}*/

/*.table-row-cell:filled:selected {*/
/*    -fx-background-color: -fx-selection-bar;*/
/*}*/

/*.table-row-cell:filled:removed {*/
/*    -fx-background-color: orange;*/
/*}*/

/*.table-row-cell:filled:removed:selected {*/
/*    -fx-background-color: -fx-selection-bar;*/
/*}*/