/*鼠标覆盖按钮效果*/
.close-button {
    -fx-fill: black;
    -fx-content-display: graphic-only;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-cursor: default;
}

.close-button:hover .svg {
    -fx-fill: WHITE;
}
.close-button:hover {
    -fx-background-color: BLACK;

}
.close-button:pressed .svg {
    -fx-fill: rgba(198,47,47,1);

}

.close-button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}


.drawing-pin {
    -fx-fill: black;
    -fx-content-display: graphic-only;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-cursor: default;
}

.drawing-pin:hover .svg {
    -fx-fill: WHITE;
}
.drawing-pin:hover {
    -fx-background-color: BLACK;

}
.drawing-pin:pressed .svg {
    -fx-fill: rgba(198,47,47,1);

}

.drawing-pin:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}


/* tooltip */
.tool-tip-ok {
    /*文本对齐方式*/
    -fx-text-alignment: center;
    /*无边框*/
    -fx-border-style: none;
    /*鼠标样式*/
    -fx-cursor: pointer;
    -fx-text-fill: white;
    -fx-background-color: rgba(198,47,47,1);
}
.tool-tip-ok:hover {
    /*透明度*/
    -fx-opacity: 0.8;
    -fx-text-fill: rgba(198,47,47,1);
    -fx-background-color: #e6e6e6;
}